
body{
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.basic button{
    height: 25px;
    width: 100px;
}
.prime{
    background-color: 	#ADD8E6;
   
    border: none;
    offset: none;
    font-weight: 600;
    border-radius: 5px;
}

.defaul{
   
    offset: none;
    font-weight: 600;
    border-radius: 5p ;
    border: 1px solid ;
}
.dash{
    offset: none;
    font-weight: 600;
    border-radius: 5px;
    border: 1px dashed;
}

.text{
    background-color: white;
    offset: none;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.link{
    background-color: white;
    offset: none;
    font-weight: 1z00;
    border-radius: 5px;
    border: none;
    color: blue;
}
.disable{
    offset: none;
    font-weight: 600;
    border-radius: 5p ;
    color: rgb(95, 95, 95);
    border: none;
}
.round{
    gap: 5px;
    display: flex;
    align-items: center;
}
.search_1{
    background-color: blue;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 25px;
}
.search_1 svg{
    padding: 2px;
}
.search_2{
    display: flex;
    background-color: blue;
    color: white;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.search_3{
    display: flex;
    background-color: blue;
    color: white;
    width: 100px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}
.search_3 svg{
    margin-right: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
}
.search_4{
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 25px;
    border: 1px solid;
}
.search_5{
    display: flex;
    width: 100px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    border: 1px solid;
}
.search_5 svg{
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.search_6{
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 25px;
    border: 1px dashed;
}
.search_7{
    display: flex;
    width: 100px;
    height: 25px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    border: 1px dashed;
}
.search_7 svg{
    margin-left: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.search_8{
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid;
}
.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    
    
}
.block button{
    height: 35px;
}
.horizontal{
    display: flex;
}
.horizontal button{
    width: 30px;
    height: 30px;
    border: none;
    offset: none;
    color: white;
    background-color: blue;
}
.horizontal_2{
    display: flex;
}
.horizontal_2 button{
    width: 30px;
    height: 30px;
    border: none;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    offset: none;
    
}
.horizontal_2 button:last-child{
    border-right: 1px solid;
    border-radius: 0px 5px 5px 0px;
    background-color: rgb(95, 95, 95);
}
.horizontal_2 button:first-child{
    border-radius: 5px 0 0 5px;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.vertical button{
    width: 75px;
    height: 30px;
    border: none;
    offset: none;
    color: white;
    background-color: blue;
}
.vertical button:first-child{
    border-radius: 5px 5px 0 0;
}
.vertical button:last-child{
    border-radius: 0 0 5px 5px;
}
.put{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.basic_input input{
    width: 500px;
    height: 30px;
    border: 1px solid;
    offset: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    
}
.icon_input{
    display: flex;
    width: 512px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
}
.icon_input input{
    offset: none;
    border: none;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
}
.icon_input svg{
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
.icon_input_2{
    display: flex;
    width: 512px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
}
.icon_input_2 input{
    offset: none;
    border: none;
    width: 100%;
    outline: none;
    font-size: 14px;
    padding-left: 5px;
}
.icon_input_2 svg{
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
.icon_input_3{
    display: flex;
    width: 512px;
    height: 20px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
}
.icon_input_3 input{
    offset: none;
    border: none;
    width: 100%;
    outline: none;
    padding-left: 5px;
}
.icon_input_3 svg{
    padding-left: 5px;
    width: 16px;
    height: 16px;
}
.style_input{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.number input{
    width: 200px;
    height: 30px;
    border: 1px solid;
    offset: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}
.tele{
    display: flex;
    height: 30px;
    align-self: flex-start;
 
}
.tele input{ 
    offset: none;
    outline: none;
    border: 1px solid;
    padding-left: 10px;
}
.tele input:first-child{
    width: 50px;
    border-radius: 5px 0 0 5px;
}
.tele input:last-child{
    width: 200px;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.web{
    display: flex;
    height: 30px;
    align-items: flex-start;
}
.web input{ 
    height: 100%;
    offset: none;
    outline: none;
    padding-left: 10px;
    border: 1px solid;
    border-right: none;
}
.web input:first-child{
    width: 50px;
    border-radius: 5px 0 0 5px;
}
.web button{
    border: none;
    border: 1px solid;
    width: 30px;
    height: 34px;
    border-radius: 0 5px 5px 0;
}
.se{
    font-size: 16px;
    display: flex;
    height: 30px;
}
.se input[type="text"]{
    border:none;
    border: 1px solid;
    outline: none;
    width: 300px;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}
.se input[type="submit"]{
    border: none;
    width: 75px;
    outline: none;   
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: blue;
}