body{
    font-family: 'horoto';
}

.default-text{
    font-size: 14px;
}
.title-text{
    font-size: 30px;
}
.description-text{
    font-size: 10px;
    color: grey;
}
#image1{
    border-radius: 5em;
}
.container{
    width: 100%;
    margin: auto;
}
.div{
    display:block;
}